<header>
  <a href="" class="header_menu-link">
    <img
      class="header_menu-img"
      src="./assets/images/ico-menu.svg"
      alt="Click here to navigate throught the website"
    />
  </a>

  <div class="header" id="topsite">
    <h1 class="header-title">Anonymous proxy</h1>
    <p class="header-text">In hac habitasse platea dictumst.</p>
    <div class="header_bottom">
      <a href="./index.html#reasons" class="header_bottom-link">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="Scroll down icon"
          title="Reasons to purchase"
        />
      </a>
    </div>
  </div>
</header>
