.main__section1 {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem; 
    text-align: left;
    padding: 2.8rem 0.9rem 2.8rem 0.9rem;

    @media all and (min-width: 768px) {
        padding: 2.8rem 2.4rem 2.8rem 2.4rem;
    }
    @media all and (min-width: 1200px) {
        padding: 2.8rem 17.1rem 2.8rem 17.1rem;
    }


    &-small {
        font-family: 'Roboto', sans-serif;
        color: $lightBlue;
        font-size: 0.9rem;

        @media all and (min-width: 1200px) {
            font-size: 1rem;
        }
    }


    &-title {
        font-family: 'Roboto Slab', serif;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-transform: capitalize;
        @media all and (min-width: 768px) {
            font-size: 1.6rem;
            line-height: 2.8rem;
        }
        @media all and (min-width: 1200px) {
            font-size: 2rem;
        }
        
    }
    &-text {
        font-family: 'Roboto', sans-serif;
        font-size: 1.12rem;
        line-height: 1.8rem;
        color: $greyText;
        line-height: 1.9rem;
        @media all and (min-width: 768px) {
            font-size: 1.12rem;
        }
        
    }
}

.main__section1-link {
    display: block;
    margin-top: 0.3rem;
    margin-bottom: 50px;
    height: 2.8rem;
    width: 4.7rem;
    border: solid $orange 2px;
    border-radius: 1.4rem;
    color: $orange;
    padding: 5px 20px 5px 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    @media all and (min-width: 768px) {
        width: 5.6rem;  
    }
    @media all and (min-width: 1200px) {
        width: 10rem;
    }

}